@import "tailwindcss";


@tailwind utilities;


.dotted-bg {
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-size: 20px 20px; 
  animation: moveDots 10s linear infinite;
}

@keyframes moveDots {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}